extends ./layouts/common


block content
	h1 Quản lý gia sư 

	
	.btn-group-vertical
		p
		button.btn.btn-outline-info 
			a(href="/classes/create")  Thêm lớp gia sư 

		p
		button.btn.btn-outline-success 
			a(href="/signup/giasu") Danh sách gia sư đăng ký 

		p
		button.btn.btn-outline-secondary 
			a(href="/signup/phuhuynh") Danh sách phụ huynh đăng ký 

		p