extends ./layouts/common


block content
	h1 Quản lý gia sư 

	
	.btn-group-vertical
		p
		a(href="/classes/create")
			button.btn.btn-outline-info   Thêm lớp gia sư 

		p
		a(href="/signup/giasu")
			button.btn.btn-outline-success  Danh sách gia sư đăng ký 

		p
		a(href="/signup/phuhuynh")
			button.btn.btn-outline-secondary  Danh sách phụ huynh đăng ký 

		p