extends ./layouts/common


block content
	h1 Quản lý gia sư 

	
	.btn-group-vertical
		p
		a(href="/classes/create")
			button.btn.btn-outline-info   Quản lý các lớp 

		p
		a(href="/signup/giasu")
			button.btn.btn-outline-success  Quản lý gia sư đăng ký 

		p
		a(href="/signup/phuhuynh")
			button.btn.btn-outline-secondary  Quản lý phụ huynh đăng ký 

		p
		a(href="/signup/tutor")
			button.btn.btn-outline-secondary  Quản lý gia sư đăng ký