extends ./layouts/common


block content
	h1 Đăng ký tìm gia sư

	form(action="/classes/create", method="POST")
		p
			b Thông tin cá nhân
		.form-group
			label(for="email") Tên:
			input.form-control(type="text", name="ten")

		.form-group
			label(for="email") Địa chỉ
			input.form-control(type="text", name="diachi")
		.form-group
			label(for="email") Email:
			input.form-control(type="email", name="email")
		.form-group
			label(for="email") Điện thoại:
			input.form-control(type="number", name="dienthoai")

		p
			b Thông tin học sinh
		.form-group
			label(for="email") Lớp:
			input.form-control(type="text", name="lop")
		.form-group
			label(for="email") Trường:
			input.form-control(type="text", name="truong")
		.form-group
			label(for="email") Giới tính:
			select(name="gioitinh")
				option Nam
				option Nữ 

		p
			b Thông tin yêu cầu
		.form-group
			label(for="email") Môn học:
			input.form-control(type="text", name="monhoc")
		.form-group
			label(for="email") Học lực:
			input.form-control(type="text", name="hocluc")
		.form-group
			label(for="email") Số người học:
			input.form-control(type="numer", name="songuoihoc")

		.form-group
			label(for="email") Yêu cầu khác:
			textarea.form-control(name="content")



		button.btn.btn-primary Gửi 
		p
		p
			b Chú ý:
			p Vui lòng điền đầy đủ thông tin vào các mục có dấu (*)