extends ./layouts/common


block content
  h1 Liên hệ 

  p
    span(style='color:#33cc33')
      span(style='font-size:18px')
        strong
          span(style='font-family:Arial,Helvetica,sans-serif') Trung Tâm Gia Sư Quang Đạt 
  p
    span(style='font-size:16px')
      span(style='font-family:TPBNeoSans') Phụ trách chuyên môn: Thầy Đạt  (ĐHBKHN)
  p
    span(style='color:#000000')
      span(style='font-size:16px')
        span(style='font-family:TPBNeoSans') Văn phòng: 0989 898 989
          strong &nbsp;  (8h đến 18h)
  p
    span(style='font-size:16px')
      span(style='font-family:TPBNeoSans') &diams; Tư vấn 1:
        strong
        span(style='color:red') 0974 777 777
        span(style='color:red') - Ms. Đức 
  p
    span(style='font-size:16px')
      span(style='font-family:TPBNeoSans') &diams; Tư vấn 2:&nbsp;
        strong
          span(style='color:red') 0908 888 888- Ms. Định 
  p
    span(style='font-size:16px')
      span(style='font-family:TPBNeoSans') Mail: dat21051999@gmail.com
  p
    span(style='font-size:16px')
      span(style='font-family:TPBNeoSans') Fanpage:&nbsp;
    a(href='https://www.facebook.com/profile.php?id=100012059710190') facebook.com/quangdat/
  p
    span(style='font-size:16px')
      span(style='font-family:TPBNeoSans') Địa chỉ: 20 Lê Thanh Nghị, Hai Bà Trưng, Hà Nội

