extends ./layouts/common


block content
  h1 Đăng nhập vào tài khoản  

  //- if errors
  //-   each error in errors
  //-     .alert.alert-danger= error

  form(method="POST" action="/auth/loginTutor")
    .form-group 
      label(for="email") Email:
      input#email.form-control(type="text", name="email", value=values?values.email: "")

    .form-group 
      label(for="password") Password:
      input#password.form-control(type="password", name="password", value=values?values.password: "")

    button.btn.btn-primary Đăng nhập
  if errors
    each error in errors
      li
        small(style='color:red')= error

  p.my-lead.mt-5.mb-0.text-center
    span Bạn là thành viên mới?
    a.d-inline-block.text-underline.ml-2(href='/register') Tạo tài khoản
