extends ../layouts/common


block content
	h1 Classes

	a(href="/classes/create") New

	form(action="/classes/search", method="GET")
		input(typy="text", name="q")
		button Search

		table.table.table-striped
			thead
				tr
					th Mã lớp 
					th Tên lớp 
			tbody
				each _class in classes	
					tr 
						td= _class.malop
						td= _class.subject
					